@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@600&display=swap');

body {
  margin: 0;
  font-family: 'Trispace', sans-serif;
  background-color: #000;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}